<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../public/switchThemes.js"></script>
  <title>Document</title>
</head>
<body>
 <h1>Mathias Fitness</h1>

<button><a href="/signup">Signup</a></button>
<button><a href="/login">Login</a></button>
<button><a href="/">Home</a></button><br><br><br>

<label>Themes:</label>
 <div class="switch-buttons">
    <button class="switch-buttons__light button" data-stylesheet="../public/light.css">Go Light</button>
    <button class="switch-buttons__dark button" data-stylesheet="../public/dark.css">Go Dark</button>
</div>

</body>
</html>