<h1>Login</h1>
<form action="/login" method="post">
  <div class="input-field">
      <input type="text" name="email" id="email" placeholder="Enter Email">
  </div>
  <div class="input-field">
      <input type="password" name="password" id="password" placeholder="Enter Password">
  </div>
  <input type="submit" value="Login">
</form>

<a href="/">Home</a>