<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link id="active-stylesheet" href="" rel="stylesheet" type="text/css"/>
    <title>Document</title>

</head>
<body>

    <div class="container_welcome">
        <h1>Mathias Fitness</h1>
      </div>




<h1>OPTIONS</h1>


<div class="container_home">
    <button><a href="/">Home</a></button></div>

<div class="container_options">
    <button><a href="/options">Options</a></button></div>


<div class="container_logout">
    <button><a href="/logout">Logout</a></button></div>


<div class="container_delete">
    <button><a href="/delete">Delete Account</a></button></div>

    
<div class="container_cancel">
    <button><a href="/cancel">Cancel Subscription</a></button></div>

<div class="container_update">
    <button><a href="/update_account">Update Account</a></button></div>


    <div class="container_themes_and_clear_storage">
        <label for="switch-options">THEME</label>
        <select id="switch-options">
            <option value="switch-options__light" data-stylesheet="light.css">Light</option>
            <option value="switch-options__dark" data-stylesheet="dark.css">Dark</option>
        </select>
        <button id="clear-storage">Clear Storage</button>
    </div>
    

    


<script src="script.js"></script>
</body>
</html>

