<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <h1>SIGNUP</h1>
<form action="/signup" method="post">
  <div class="input-field">
      <input type="text" 
             name="email"
             id="email"
             placeholder="Enter Email">
  </div> <br>
  <div class="input-field">
    <input type="text" 
           name="fname"
           id="fname"
           placeholder="Enter Name">
</div> <br>
<div class="input-field">
    <input type="text" 
           name="iname"
           id="iname"
           placeholder="Enter Last Name">
</div> <br>
<div class="input-field">
    <input type="text" 
           name="gender"
           id="gender"
           placeholder="Enter Gender">
</div> <br>
<div class="input-field">
    <input type="text" 
           name="age"
           id="age"
           placeholder="Enter Age">
</div> <br>
  <div class="input-field">
      <input type="password"
      name="password"
      id="password"
      placeholder="Enter Password">
    </div> <br>  
  <input type="submit" value="Signup">
  <input type="submit" value="Login">
</form> <br>



<a href="/">Home</a> 

</body>
</html>