<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="light.css">
  <link id="active-stylesheet" href="" rel="stylesheet" type="text/css"/>
  <title>Document</title>
</head>
<body>


<form action="/test" method="POST">
    <label for="test">Enter Test Value:</label>
    <input type="text" id="test" name="test" required>
    <button type="submit">Submit</button>
</form>


<script src="script.js"></script>
</body>
</html>


