/* Base styles */
body {
    background-color: rgb(32, 32, 32);
    color: rgb(230, 230, 230);
  }
  
  /* Header styles */
  header {
    background-color: #222;
    color: rgb(230, 230, 230);
  }
  
  /* Link styles */
  a {
    color: rgb(230, 230, 230);
  }
  
  /* Button styles */
  button {
    background-color: rgb(31, 31, 31);
    color: rgb(230, 230, 230);
  }
  


  /* Form styles */
  input[type="text"],
  input[type="email"],
  input[type="submit"],
  input[type="number"],
  input[type="password"],
  textarea {
    background-color: #444;
    color: rgb(230, 230, 230);
  }
