/* Base styles */
body {
    background-color: #eee;
    color: #000000;
  }
  
  /* Header styles */
  header {
    background-color: #ccc;
    color: #000000;
  }
  
  /* Link styles */
  a {
    color: #000000;
  }
  
  /* Button styles */
  button {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Form styles */
  input[type="text"],
  input[type="email"],
  input[type="submit"],
  input[type="number"],
  input[type="password"],
  textarea {
    background-color: #eee;
    color: #000000;
  }

  .container_home a:hover,
  .container_logout a:hover,
  .container_delete a:hover,
  .container_buttons1 a:hover,
  .container_delete-account :hover,
  #clear-storage:hover {
    color: #aaa;
  }
  