body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }

  .container_welcome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 10px;
    margin-top: -15px;
    top: 100;
    border-bottom: 2px solid black;
    
  }
  

  
 div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
 }

.container_buttons1 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}


.container_delete-account {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
}

.container_cancel-subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
}



.container_options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 10px;
  left: 65px;
  margin-top: 10px;
}


.container_delete-account_password {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
}


.container_cancel-subscription_password {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
}



.container_gender {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.container_themes_and_clear_storage {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.container_home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 10px;
    left: 10px;
    margin-top: 10px;
  }
  
  .container_logout {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 10px;
  }
  


.container_delete {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 0px;
  }


button {
    margin-bottom: 20px;
}


select {
    margin-top: 10px;
}



  h1 {
    text-align: center;
  }
  
  
  select {
    margin-bottom: 10px;
    margin-left: 5px;
  }
  

 input, button {
    margin-left: 5px;
 }


  #clear-storage {
    margin-top: 20px;
  }

  #error {
    color: #ff0000;
    align-self: center;
    margin-top: 0px;
    margin-left: 10px;
  }

  #message {
    color: #ffffff;
    align-self: center;
    margin-top: 0px;
    margin-left: 10px;
  }





  

  

  

